<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiot.aiotbackstage.mapper.SysCameraMapper">
    <resultMap id="BaseResultMap" type="com.aiot.aiotbackstage.model.entity.SysCameraEntity">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="site_id" jdbcType="BIGINT" property="siteId" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="imei" jdbcType="VARCHAR" property="imei" />
    </resultMap>
    <sql id="Base_Column_List">
        id, site_id siteId, `type` ,`name`, imei
    </sql>

    <select id="selectAll" resultType="com.aiot.aiotbackstage.model.entity.SysCameraEntity">
        select
        <include refid="Base_Column_List"/>
        from sys_camera
    </select>
</mapper>