<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiot.aiotbackstage.mapper.SysDisasterSituationMapper">

    <resultMap id="BaseResultMap" type="com.aiot.aiotbackstage.model.entity.SysDisasterSituationEntity">
        <!--@mbg.generated-->
        <!--@Table sys_disaster_situation-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="site_id" jdbcType="BIGINT" property="siteId"/>
        <result column="guid" jdbcType="VARCHAR" property="guid"/>
        <result column="date" jdbcType="TIMESTAMP" property="date"/>
        <result column="total_area" jdbcType="DECIMAL" property="totalArea"/>
        <result column="serious" jdbcType="DECIMAL" property="serious"/>
        <result column="medium" jdbcType="DECIMAL" property="medium"/>
        <result column="normal" jdbcType="DECIMAL" property="normal"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <resultMap id="BaseResultVo" extends="BaseResultMap" type="com.aiot.aiotbackstage.model.vo.SysDisasterSituationVo">
        <result column="level" property="level"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, guid, `date`, total_area, serious, medium, normal, create_time
    </sql>

    <select id="disasterSituationPage" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />  from sys_disaster_situation
        <!--    <where>-->
        <!--      <if test="whetherExamine != null">-->
        <!--        and whether_examine = #{whetherExamine,jdbcType=INTEGER}-->
        <!--      </if>-->
        <!--    </where>-->
        ORDER BY create_time DESC
        LIMIT #{page.offset},#{page.pageSize}
    </select>

        <select id="countAll" resultType="int">
            SELECT
                COUNT(*)
            FROM
                sys_disaster_situation
            WHERE
                `date` BETWEEN #{startDate} AND #{endDate}
      </select>

    <select id="findAll" resultMap="BaseResultVo">
        SELECT
            *,
            IF
                (
                    serious > 0,
                    '严重',
                IF
                ( `medium` > 0, '中等', '正常' )) AS `level`
        FROM
            sys_disaster_situation
        WHERE
            `date` BETWEEN #{startDate} AND #{endDate}
        ORDER BY
            `date`
        <if test="pageSize != null and pageSize != '' and pageIndex != null and pageIndex != ''">
            LIMIT ${pageSize * (pageIndex - 1)}, #{pageSize}
        </if>
    </select>

    <select id="sumByLevel" resultType="map">
        SELECT
            SUM( serious ) AS serious,
            SUM( `medium` ) AS `medium`,
            SUM( normal ) AS normal
        FROM
            sys_disaster_situation
        WHERE
            date BETWEEN #{startDate} AND #{endDate}
    </select>

</mapper>