<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiot.aiotbackstage.mapper.SysDustRecMapper">

    <resultMap id="BaseResultMap" type="com.aiot.aiotbackstage.model.entity.SysDustRecEntity">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="site_id" jdbcType="BIGINT" property="siteId"/>
        <result column="depth" jdbcType="BIGINT" property="depth"/>
        <result column="wc" jdbcType="DOUBLE" property="wc"/>
        <result column="temperature" jdbcType="DOUBLE" property="temperature"/>
        <result column="ec" jdbcType="DOUBLE" property="ec"/>
        <result column="salinity" jdbcType="DOUBLE" property="salinity"/>
        <result column="tds" jdbcType="DOUBLE" property="tds"/>
        <result column="epsilon" jdbcType="DOUBLE" property="epsilon"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, site_id siteId, depth, wc, temperature, ec, salinity, tds, epsilon, `time`
    </sql>

    <select id="findAllAverageHourly"
            parameterType="map"
            resultType="com.aiot.aiotbackstage.model.entity.SysDustRecStatisEntity">
        SELECT
            a.site_id,
            a.depth,
            a.fmt_date AS `date`,
            a.fmt_hour AS `hour`,
            AVG( a.wc ) AS wc,
            AVG( a.temperature ) AS temperature,
            AVG( a.ec ) AS ec,
            AVG( a.salinity ) AS salinity,
            AVG( a.tds ) AS tds,
            AVG( a.epsilon ) AS epsilon
        FROM
            (
                SELECT
                    *,
                    DATE_FORMAT( `time`, '%Y-%m-%d' ) AS fmt_date,
                    DATE_FORMAT( `time`, '%H' ) AS fmt_hour
                FROM
                    sys_dust_rec
                <where>
                    <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
                        `time` BETWEEN #{startTime} AND #{endTime}
                    </if>
                </where>
            ) AS a
        GROUP BY
            a.site_id,
            a.depth,
            a.fmt_date,
            a.fmt_hour
    </select>


    <select id="findByTimeGroupByDepth" resultMap="BaseResultMap">
        SELECT
            *
        FROM
            sys_dust_rec
        WHERE
            ( depth, time ) IN (
                SELECT
                    depth,
                    MAX( time )
                FROM
                    sys_dust_rec
                WHERE
                    site_id = #{siteId}
                    AND time &lt;= #{time}
                GROUP BY depth
             )
        ORDER BY
            depth
    </select>

</mapper>