<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aiot.aiotbackstage.mapper.SysHumidityTempMapper">
  <resultMap id="BaseResultMap" type="com.aiot.aiotbackstage.model.entity.SysHumidityTempEntity">
    <!--@mbg.generated-->
    <!--@Table sys_humidity_temp-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="station_id" jdbcType="BIGINT" property="stationId" />
    <result column="region" jdbcType="VARCHAR" property="region" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="var" jdbcType="DECIMAL" property="var" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `type`, station_id, region, `time`, var, create_time, update_time
  </sql>
</mapper>